.about {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 50px;

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    align-items: center;
    min-height: 70vh;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column-reverse;
  }

  h2 {
    font-size: 36px; 
    
    @media screen and (max-width: 768px) {
     display: none;
    }
  }

  .image {
    height: 90vh;

    @media screen and (min-width: 768px) and (max-width: 1200px) {
      height: auto;
      width: 50%;
    }

    @media screen and (max-width: 768px) {
      height: auto;
      width: 100%;
    }

    img {
      height: 100%;

      @media screen and (min-width: 768px) and (max-width: 1200px) {
        height: auto;
        width: 100%;
      }

      @media screen and (max-width: 768px) {
        height: auto;
        width: 100%
      }
      
    }
  }

  .content {
    @media screen and (min-width: 768px) and (max-width: 1200px) {
      height: auto;
      width: 50%;
    }
  }
}
