:root {
  --width: 800px;
  --height: 560px;
  --fr: calc(var(height) / 9);
}

.App .portfolio {
  width: 100%;
  display: flex;
  gap: 50px;

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    flex-direction: column;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  h2 {
    font-size: 36px;
    margin-top: 0;
  }

  .projects {
    width: var(--width);
    height: var(height);

    display: grid;
    grid-template-columns: repeat(3, calc(var(--width) / 3));
    grid-template-rows: var(--fr) * 3 var(--fr) var(--fr) * 3 var(--fr) * 2;

    grid-template-areas:
      "project1 project2 project3"
      "project4 project5 project3"
      "project4 project5 project6"
      "project4 project5 project7";

    @media screen and (min-width: 768px) and (max-width: 1200px) {
      --width: calc(var(--width) - 200px);
      height: var(height) - 200px;
      --fr: calc(var(height) / 9);

      width: var(--width);
      height: var(height);

      grid-template-columns: repeat(3, calc(var(--width) / 3));
      grid-template-rows: var(--fr) * 3 var(--fr) var(--fr) * 3 var(--fr) * 2;

      grid-template-areas:
        "project1 project2 project3"
        "project4 project5 project3"
        "project4 project5 project6"
        "project4 project5 project7";
    }

    @media screen and (max-width: 768px) {
      /* display: none; */
      width: 100%;
      min-width: 300px;
      height: auto;

      grid-template-columns: 100%;
      grid-template-rows: repeat(7, auto);

      grid-template-areas:
        "project1"
        "project2"
        "project3"
        "project4"
        "project5"
        "project6"
        "project7";
    }

    > a {
      width: 100%;
      overflow: hidden;
      position: relative;
      color: black;

      .bg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc(100% - 30px);
        padding: 20px;
        height: calc(100% - 30px);
        background-color: white;
        z-index: 1000;
        opacity: 0.6;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: all 0.3s;

        .text {
          position: absolute;
          width: calc(var(--width) / 3 - 50px - 30px);
          /* width: calc(var(--width)); */
          opacity: 0;
          font-size: 13px;
          transition: all 0.3s;

          @media screen and (min-width: 768px) and (max-width: 1200px) {
            /* width: calc(var(--width)); */
            font-size: 9px;
            width: calc(100% - 30px);
          }

          h3 {
            margin-top: 0;
          }
        }

        &:hover {
          width: calc(100% - 50px - 30px);
          height: calc(100% - 50px - 30px);
          opacity: 1;

          .text {
            opacity: 1;

            div {
              /* font-size: 13px; */
            }
          }
        }
      }

      img {
        width: 100%;
        min-height: 100%;
        filter: grayscale(1);
      }

      /* &.project1 { */
      /* grid-row: 1; */
      /* grid-column: 1; */
      /* } */

      /* &.project2 { */
      /* grid-row: 1; */
      /* grid-column: 2; */
      /* } */

      /* &.project3 { */
      /* grid-row: 1 / span 2; */
      /* grid-column: 3; */
      /* } */

      /* &.project4 { */
      /* grid-row: 2 / span 3; */
      /* } */

      /* &.project5 { */
      /* grid-row: 2 / span 3; */
      /* grid-column: 2; */

      /* img { */
      /* width: 102%; */
      /* margin-left: -5px; */
      /* } */
      /* } */

      /* &.project6 { */
      /* } */

      /* &.project7 { */
      /* } */

      &.project1 {
        grid-area: project1;
      }

      &.project2 {
        grid-area: project2;
      }

      &.project3 {
        grid-area: project3;
      }

      &.project4 {
        grid-area: project4;
      }

      &.project5 {
        grid-area: project5;
        img {
          width: 102%;
          margin-left: -5px;
        }
      }

      &.project6 {
        grid-area: project6;
      }

      &.project7 {
        grid-area: project7;
      }
    }
  }
}
