@import url("https://fonts.googleapis.com/css2?family=Doppio+One&family=Inter&family=La+Belle+Aurore&display=swap");
@font-face {
  font-family: Gilroy;
  src: url("fonts/Gilroy-Light.otf");
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0 10vw;
  font-family: Gilroy, Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin: 0;
  margin-top: 10vh;
}

h2 {
  display: inline-block;
  /* border-bottom: black solid 3px; */
  padding-bottom: 5px;
}

/* h2::after {
  border-bottom: black solid 3px;
  height: 5px;
  width: 100%;
} */

.App {
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 768px) {
    gap: 50px;
  }
}

.App > div {
  min-height: 90vh;
}
